.container {
  background: linear-gradient(180deg, #FFFA82 0%, rgba(111, 226, 150, 0.75439) 69.27%, rgba(29, 214, 255, 0.56) 100%), black;
  height: 100vh;
}

/*noinspection CssInvalidPropertyValue*/
.tone {
  background: linear-gradient(104.29deg, #6271FF 55.32%, #FF7B73 88.41%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.gradient {
  background: linear-gradient(335deg, rgba(255,140,107,1) 0%, rgba(255,228,168,1) 100%);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

.description_container {
  position: absolute;
  /* margin-top: 5rem; */
  transform: translateX(-50%);
  left: 50%;
  width: 90%;
  background-color: rgba(255,255,255,0)
}
